li {
  list-style: none !important;
}

.todoItem {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  line-height: 10px;
}

.idLabel {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.id {
  width: 15%;
}

@media (max-width: 780px) {
  .todoItem {
    display: flex;
    flex-direction: column;
  }
  .idLabel {
    width: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
  }
  .id {
    width: 100%;
  }
}
